
// topに戻るボタン
.back-to-top {
    position: fixed;
    right: 1%;
    bottom: 1.5%;
    color: #fff;
    width: 50px;
    height: 50px;
    z-index: 500;
    display: none;
    border-radius: 50%;
font-size: 1.5em;
    -webkit-transition: .1s ease-in-out;
    /*変化の速度を指定*/
    -moz-transition: .1s ease-in-out;
    /*変化の速度を指定*/
    transition: .1s ease-in-out;
    /*変化の速度を指定*/
}

.back-to-top:before {
    font-family: "FontAwesome";
    content: "\f077";
    display: block;
    width: 50px;
    height: 50px;
    padding-top: 4px;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(0deg, #990000 0%, #ff0000 100%);
    vertical-align: middle;
    text-align: center;
    z-index: 200;
    border-radius: 50%;
}

.back-to-top:after {
    font-family: "FontAwesome";
    content: "\f077";
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
}

.back-to-top:hover {
    background: linear-gradient(0deg, #330000 0%, #800000 100%);
    color: #cccccc;
}


/* Google翻訳ここから */
.google_translate {
position: absolute;
right: 20px;
top: 0px;
    width: 150px;
    height: 20px;
    padding: 10px 0;
    margin-right: 2%;
    // background: rgba(#fff, 0.5);
    border-bottom-left-radius: .2em;
    border-bottom-right-radius: .2em;
}
/* 文字サイズの変更ボタン */
.font-size-btn {
position: absolute;
right: 175px;
top: 0px;
    width: 150px;
    height: 20px;
    padding: 10px 0;
    margin-right: 2%;
    // background: rgba(#fff, 0.5);
    border-bottom-left-radius: .2em;
    border-bottom-right-radius: .2em;
}
.fsz {
    margin: 0;
}

h6.fsz-font {
    font-size: 0.8em;
    padding: 0;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    // font-weight: bold;
    color: #cccccc;
    float: left;
}

.btn-s,
.btn-m,
.btn-l {
    font-size: .9em;
    position: relative;
    padding: 0 3px;
    top: 0px;
    text-decoration: none;
    background: #eeeeee;
    color: #111111;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.btn-s:hover {
    background: #de0b46;
}

.btn-s:active {
    background: #de0b46;
}

.btn-m:hover {
    background: #de0b46;
}

.btn-m:active {
    background: #de0b46;
}

.btn-l:hover {
    background: #de0b46;
}

.btn-l:active {
    background: #de0b46;
}

a.btn-s,
a.btn-m,
a.btn-l {
    text-decoration: none;
    -webkit-transition: .1s ease-in-out;
    /*変化の速度を指定*/
    -moz-transition: .1s ease-in-out;
    /*変化の速度を指定*/
    transition: .1s ease-in-out;
    /*変化の速度を指定*/
}

a.btn-s:hover,
a.btn-m:hover,
a.btn-l:hover {
    color: #ffffff;
}

//* 文字サイズ変更ボタンここまで */
