@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato|Sawarabi+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Literata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
@import url('https://fonts.googleapis.com/css?family=Merienda');
@import "bootstrap";

// 全体
body {
    font-family: 'Roboto', sans-serif;
    min-width: 1000px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: block;
}

ul {
    list-style: none;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #ffffff;
    border: none;
    box-shadow: inset 0 0 2px #777;
}

body::-webkit-scrollbar-thumb {
    background: #111111;
    box-shadow: none;
}


// 全体ここまで

//パンくずリストここから
.nav_pankuzu {
    display: flex;
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0px;
    right: 0px;
    z-index: 50;
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
    color: #ffffff;
    z-index: 300;

    a:hover {
        text-decoration: none;
        list-style: none;
    }
}

.pankuzu__text {
    padding-right: 5px;
    padding-left: 5px;
    font-size: .8em;
}

.pankuzu__menu {
    width: 200px;
    padding-top: 7px;
    margin-left: 5%;
}

//パンくずリストここまで

// ヘッダーここから

.header__midasi {
    position: absolute;
    justify-content: center;
    width: 100%;
    top: 248px;
    padding: 0;
    z-index: 50;
    h1 {
        text-align: center;
        font-family: 'Playfair Display', serif;
    }
    h1 p {
        font-size: 10.4vw;
        color: rgba(#ffffff,1);
        }
    h1 .span_red {
        color:#de0b46;
    }
}

// header {
//     width: 100%;
//     height: 700px;
//     justify-content: center;
//     background: linear-gradient(135deg, #3AA0D4 0%, #076EB2 100%);
//     position: relative;
//     left: 0;
//     right: 0;
//     top: 40px;
//     bottom: 0;
// z-index: 100;
// }


//カッコいいメニューここから
// /* Variables */ #de0b46(元の色)

// Core
$core_width: 25px;
$core_color: rgba(#1e90ff,.5);
$core_glow:0px 0px 70px 20px #1e90ff;

// Outer 1
$outer_one_offset: 60px;
$outer_one_width: 10px;
$outer_one_height: 30px;
$outer_one_color: rgba(#1e90ff, .7);
$outer_one_glow: 0px 0px 20px 0px #1e90ff;

// Outer 2
$outer_two_offset: 145px;
$outer_two_width: 28px;
$outer_two_height: 5px;
$outer_two_color: #1e90ff;
$outer_two_glow: 0px 0px 20px 0px #1e90ff;

// Outer 3
$outer_three_offset: 220px;
$outer_three_width: 55px;
$outer_three_height: 5px;
$outer_three_color: #55E2F9;
$outer_three_glow: 0px 0px 20px 0px #55E2F9;

// Outer 4
$outer_four_offset: 220px;
$outer_four_width: 6px;
$outer_four_height: 5px;
$outer_four_color: #1e90ff;
$outer_four_glow: 0px 0px 20px 0px #1e90ff;

// Outer 5
$outer_five_offset: 205px;

// Menu items
$menu_offset: 200px;
$menu_height: 0px;
$menu_color: transparent;
$menu_glow: 0px 0px 50px rgba(222, 11, 70, 0.27);

/* Placeholders */

%center {
    left: -77%;
    right: 0%;
    top: 185px;
    position: absolute;
    margin: auto;
    transform: translateY(0%);
}

%decal {
    position: absolute;
    width: $core_width;
    height: $core_width;
    left: 50%;
}

%fade_loop {
    @for $i from 1 through 36 {
        &:nth-of-type(#{$i}) {
            animation: fade 5s ($i/10 + 0s) infinite;
        }
    }
}

%fade_loop_alt {
    @for $i from 1 through 36 {
        &:nth-of-type(#{$i}) {
            animation: fade 7s ($i/10 + 0s) infinite;
        }
    }
}

%circ_loop {
    position: absolute;

    @for $i from 1 through 36 {
        &:nth-of-type(#{$i}) {
            border-radius: 2px;
            transform: rotateZ($i*10 + (0deg));
        }
    }
}

%circ_loop_quart {
    position: absolute;

    @for $i from 1 through 36 {
        &:nth-of-type(#{$i}) {
            border-radius: 2px;
            transform: rotateZ($i*4 + (0deg));
        }
    }
}

%circ_loop_quart_alt {
    position: absolute;

    @for $i from 1 through 36 {
        &:nth-of-type(#{$i}) {
            border-radius: 2px;
            transform: rotateZ($i*4 + (0deg) - 180);
        }
    }
}

/* Styles */

$size: 40px;
$thickness: 2px;
$bgColor: #fb0;
$lineColor: yellow;

$sqrt3: 1.7320508075688772;
$apothem: $sqrt3 / 2;

$relThickness: $thickness / $size;

header {
    width: 100%;
    height: 450px;
    animation: intro_box 1s 1s forwards;
    opacity: 0;
    perspective-origin: 50% -10%;
    margin: 0;
    padding: 0 0 0 0px;
    font-family: montserrat;
    perspective: 800;
    background: radial-gradient(ellipse at top left, rgba(222, 11, 70, 0.26) -160%, rgba(255, 255, 255, 0) 103%), -webkit-radial-gradient(center, ellipse cover,#0C1019 30%, #0B0B0E 100%);
    overflow: hidden;

    .grain {
        transform: scale(1) !important;
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/overlay.png");
        left: 0px;
        margin: auto;
        position: absolute;
        z-index: 100;
        pointer-events: none;
        top: 0px;
        opacity: 1;
        bottom: 0;
    }

    .center {
        @extend %center;
        transform: translateY(-21px) translateZ(-870px) rotateX(69deg) rotateY(-26deg) rotatez(-647deg) scale(0.9);
        height: $core_width;
        width: $core_width;
        animation: wiggle 20s infinite linear;

        .core {
            width: $core_width;
            height: $core_width;
            border-radius: $core_width;
            background: $core_color;
            box-shadow: $core_glow;
        }

        .outer_one {
            @extend %decal;
            transform: translateX(-$outer_one_offset) translateY(-50%);

            &__piece {
                width: $outer_one_width;
                height: $outer_one_height;
                background: $outer_one_color;
                box-shadow: $outer_one_glow;
                transform-origin: $outer_one_offset 0px;
                @extend %circ_loop;
            }
        }

        .outer_two {
            @extend %decal;
            transform: translateX(-$outer_two_offset) translateY(-50%);

            &__piece {
                width: $outer_two_width;
                height: $outer_two_height;
                background: $outer_two_color;
                box-shadow: $outer_two_glow;
                transform-origin: $outer_two_offset 0px;
                @extend %circ_loop;
                @extend %fade_loop;
            }
        }

        .outer_three {
            @extend %decal;
            transform: translateX(-$outer_three_offset) translateY(-50%);

            &__piece {
                width: $outer_three_width;
                height: $outer_three_height;
                background: $outer_three_color;
                box-shadow: $outer_three_glow;
                transform-origin: $outer_three_offset 0px;
                @extend %circ_loop_quart;
                @extend %fade_loop;
            }
        }

        .outer_four {
            @extend %decal;
            transform: translateX(-$outer_four_offset) translateY(-50%);

            &__piece {
                width: $outer_four_width;
                height: $outer_four_height;
                background: $outer_four_color;
                box-shadow: $outer_four_glow;
                transform-origin: $outer_four_offset 0px;
                @extend %circ_loop_quart_alt;
                @extend %fade_loop_alt;
            }
        }

        .outer_five {
            @extend %decal;
            transform: translateX(-$outer_five_offset) translateY(-50%);

            &__piece {
                width: $outer_four_width;
                height: $outer_four_height;
                background: $outer_four_color;
                box-shadow: $outer_four_glow;
                transform-origin: $outer_five_offset 0px;
                @extend %circ_loop_quart_alt;
                @extend %fade_loop_alt;
            }
        }

        .pieces {
            @extend %decal;
            transform: translateX($menu_offset) translateY(-50%);

            .tip {
                font-size: 17px;
                position: absolute;
                left: 103%;
                opacity: 0;
                transition: all .2s .3s;
                font-weight: 400;
                color: #85DFE4;
                width: 100%;
                top: 50px;
            }

            span {
                position: absolute;
                top: 19px;
                width: 270px;
                LEFT: 34PX;
                transform: translateZ(-770px) rotateZ(0deg);
                transition: all .2s .1s;
            }

            .line {
                width: 0px;
                height: 3px;
                left: -530px;
                transform: rotatez(5deg);
                top: 0px;
                background: #1e90ff;
                position: absolute;
                opacity: 0;
            }

            .future_ui__piece {
                // border: 3px solid #1e90ff;
                position: absolute;
                font-weight: 900;
                padding: 30px;
                font-size: 25px;
                box-shadow: 0px 0px 25px rgba(222, 11, 70, 0.27);
                transform-style: preserve-3d;
                transition: all 1s .1s;
                color: white;
                text-align: left;

                @for $i from 1 through 36 {
                    &:nth-of-type(#{$i}) {
                        transform: rotateZ($i*10 + (0deg) - 55) rotateY(0deg);
                        width: 220 + random(73) + px;

                        &:hover {
                            cursor: pointer;
                            color: white;
                            animation: blink .4s .4s;
                            background: #1e90ff;
                            transform: rotate($i*10 + (0deg) - 55) translatex(20px);
                            box-shadow: 0px 0px 55px rgba(222, 11, 70, 0.77);

                            span {
                                position: absolute;
                                top: 12px;
                                width: 270px;
                                text-shadow: 0px 13px 0px rgba(30, 30, 30, 0.4);
                                left: 240px;
                                transform: translateZ(100px) rotateZ(0deg);
                            }

                            .tip {
                                opacity: 1;
                                left: 110%;
                            }

                            .line {
                                opacity: 1;
                                width: 547px;
                                transition: all .4s .2s;
                            }
                        }
                    }
                }

                height: $menu_height;
                background: $menu_color;
                color:white;
                border-radius:80px !important;
                box-shadow:$menu_glow;
                transform-origin: - $menu_offset 0px;
                @extend %circ_loop;
            }

            .blank {
                opacity: 0.1;
                background: none;
                pointer-events: none;
                box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.27);
                border: 3px solid #3D4B6D !important;
            }
        }
    }
}

/* animations */

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(180deg)
    }

    /* /メニューのバーの長さ変形/ */
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 1
    }

    25% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    75% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes inalt {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes wiggle {
    0% {
        transform: translateY(0) translateZ(-840px) rotateX(34deg) rotateY(-11deg) rotatez(45deg) scale(0.8);
    }

    25% {
        transform: translateY(0) translateZ(-820px) rotateX(36deg) rotateY(-14deg) rotatez(44deg) scale(0.8);
    }

    50% {
        transform: translateY(0) translateZ(-840px) rotateX(32deg) rotateY(-13deg) rotatez(42deg) scale(0.8);
    }

    75% {
        transform: translateY(0) translateZ(-840px) rotateX(33deg) rotateY(-9deg) rotatez(39deg) scale(0.8);
    }

    100% {
        transform: translateY(0) translateZ(-840px) rotateX(34deg) rotateY(-11deg) rotatez(45deg) scale(0.8);
    }
}

@keyframes intro_box {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

//かっこいいメニューここまで


//メニューボタンここから
//colors
$red: #E1332D;
$white: #fff;

//base styles

* {
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
}

// Main wrap
.buttons {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 60px;
    top: 40px;
    right: 0px;
    z-index: 50;
    text-align: center;
    background-color: rgba(255, 255, 255, .2);
    color: #ffffff;
    z-index: 300;
}

//button styles
//default button
.btn {
    color: #fff;
    cursor: pointer;
    // display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 130px;

    &:hover {
        color: #fff;
        text-decoration: none;
        transition: all 280ms ease-in-out;
    }

}

.btn-2 {
    letter-spacing: 2px;
    margin: 0;
}

.btn-2:hover,
.btn-2:active {
    letter-spacing: 2px;
    text-shadow: 0 0 5px rgba(10, 175, 230, 1), 0 0 5px rgba(10, 175, 230, 0);
}

.btn-2:after,
.btn-2:before {
    backface-visibility: hidden;
    border: 1px solid rgba(#fff, 0);
    bottom: 0px;
    content: "";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 350ms ease-in-out;
    width: 90%;
}

.btn-2:hover:before {
    bottom: auto;
    top: 0;
    width: 90%;

}

.btn-2-now {
    color: #000000;
    cursor: default;
    display: block;
    position: relative;
    top: 16%;
    left: 1.5%;
    font-size: 16px;
    font-weight: 900;
    line-height: 45px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    // background-color: rgba(#ffffff, .2);
    border-radius: .1em;
}


.btn-3 {
    display: block;
    letter-spacing: 2px;
    margin: 0px;
    padding: 0 0 0 20px;
    background-color: rgba(#ffffff, .7);
    width: 100%;
    text-align: left;
    font-size: .8em;
    text-indent: .5em;
    color: #000;
    font-weight: 900;
    line-height: 45px;
}

.btn-3:hover,
.btn-3:active {
    background-color: rgba(#ffffff, .6);
    text-shadow: 0 0 5px rgba(10, 175, 230, 1), 0 0 5px rgba(10, 175, 230, 0);
    box-shadow: 0 0 5px rgba(10, 175, 230, 1), 0 0 5px rgba(10, 175, 230, 0);
}

.btn-3:after,
.btn-3:before {
    backface-visibility: hidden;
    bottom: 0px;
    content: "";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
}

.btn-3:hover:after,
.btn-3:hover:before {
    backface-visibility: hidden;
    transition: width 350ms ease-in-out;
}

//メニューボタンここまで


//プルダウンメニューここから


.dropmenu {
    *zoom: 1;
    list-style-type: none;
    width: 1100px;
    margin: 0 auto;
padding: 0 0 0 130px;
}

.dropmenu:before,
.dropmenu:after {
    content: "";
    display: table;
}

.dropmenu:after {
    clear: both;
}

.dropmenu li {
    position: relative;
    width: 18%;
    float: left;
    margin: 0;
}

.dropmenu li a {
    cursor: pointer;
    margin: 0;
    max-width: 180px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

    &:hover {
        /* ホバーした時の文字色 */
        color: #fff;
        font-weight: 400;
        transition: all 280ms ease-in-out;
    }
}

.dropmenu li ul {
    list-style: none;
    position: absolute;
    z-index: 9999;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
}

.dropmenu li ul li {
    /* リストの縦ぞろえ */
    width: 100%;
}

#dropmenu li ul li {
    overflow: hidden;
    height: 0;
    transition: .2s;
}

#dropmenu li:hover ul li {
    /* プルダウン時のメニューの下移動幅 */
    overflow: visible;
    height: 46px;
}


//プルダウンここまで

// .bg_line {
//   position: absolute;
//   top: 400px;
//   bottom: 0;
//   right: 0;
//   left: 0;
//   width: 100%;
//   height: 50px;
//   background: #ffffff;
//   transform: skewY(-3deg);
//   transform-origin: top left;
// // opacity: .3;
// z-index: 0;
// overflow: hidden;
// }


// ヘッダーここまで

// mainコンテンツここから






// mainここまで

// footerここから

footer {
    width: 100%;
    justify-content: center;
    background:
        url(../images/footer_bg_rogo.png) right 150px no-repeat,
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJElEQVQoU2P8//+/FAMRgBGkkJGR8RkhtaMK8YYQI6Hwg8kDALudIyIGr+YqAAAAAElFTkSuQmCC) repeat,
        linear-gradient(135deg, #3AA0D4 0%, #076EB2 40%, #222222 100%);
    background-color: rgba(255, 255, 255, 0.5);
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: none;
    letter-spacing: 0.05em;
}

.footer__container {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 0%;
    min-width: 1100px;
}

.footer__container2 {
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 2%;
    min-width: 1100px;
}

.footer__midasi {
    border: 0;
    padding: 2px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.2);
}

.footer__midasi__text {
    color: #ffffff;
    /*文字色*/
    width: 100%;
    letter-spacing: 0.1em;
    // border-radius: 2em;/*角丸*/
    // background-color: #73bfe1;
    // padding: 0.3em 1em;/*文字周りの余白*/
}

.footer__midasi__ul {
    padding-left: 0;
    text-indent: 0.4em;
}

.footer__menu1 {
    /* 研究メンバー用、研究テーマ、研究メンバー用 */
    min-width: 180px;
    padding: 15px 0 0 0;
    margin-right: 20px;
    font-size: 0.8em;
    /*     overflow: hidden; */
}

.footer__menu4 {
    /* セミナー情報、SNS、リンク */
    min-width: 180px;
    padding: 0;
    margin-right: 20px;
    font-size: 0.8em;
    /*     overflow: hidden; */
}

.footer__menu2 {
    /* アクセス */
    min-width: 200px;
    padding: 15px 0 0 0;
    margin-right: 20px;
    font-size: 0.8em;
    /*     overflow: hidden; */
}

.access__text {
    font-size: 0.9em;
    letter-spacing: 0.05em;
    padding-left: 2em;
    text-indent: -1em;
    margin: 0;
}

.footer__menu3 {
    /* お問い合わせ */
    min-width: 200px;
    padding: 15px 0 0 0;
    font-size: 0.8em;
    /*     overflow: hidden; */
    text-align: left;
}

.google-maps {
    /* Google map */
    width: 423px;
}

.footer__contact__tel {
    margin: 0 0 3px 0;
}

span.tel_text {
    font-size: 2em;
    vertical-align: sub;
    padding: 0px 0 0 4px;
    font-family: 'Loto', sans-serif;
}


.footer__contact {
    width: 200px;
    height: 45px;
    border: 0px;
    border-radius: .1em;
    background: #de0b46;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    -webkit-transition: .1s ease-in-out;
    /*変化の速度を指定*/
    -moz-transition: .1s ease-in-out;
    /*変化の速度を指定*/
    transition: .1s ease-in-out;
    /*変化の速度を指定*/
    font-family: 'Roboto', sans-serif;
}

.footer__contact:hover {
    color: #eeeeee;
    -webkit-transition: .1s ease-in-out;
    /*変化の速度を指定*/
    -moz-transition: .1s ease-in-out;
    /*変化の速度を指定*/
    transition: .1s ease-in-out;
    /*変化の速度を指定*/
}

.footer__contact__text {
    margin-top: 10px;
    margin-bottom: 0px
}

.footer__copyright {
    display: fixed;
    width: 100%;
    height: 60px;
    background-color: #000000;
    font-size: 0.9em;
    color: #ffffff;
    line-height: 4.5em;
    letter-spacing: .1em;
    text-align: center;
    z-index: 310;
}

.footer__text {
    text-align: left;
    color: #ffffff;
}

a.footer__text {
    text-decoration: none;
    transition: color .2s;
    color: #ffffff;
}

a.footer__text:hover {
    color: #cccccc;
}

// footerここまで