main {
    width: 100%;
    display: flex;
    margin: 0 auto;
    text-align: center;
    margin: 0 auto;
    z-index: 50;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQoU2O8ffu2LwMRgBGkUFVVdTMhtaMK8YYQ0cEDAO63JulOwqN5AAAAAElFTkSuQmCC');
  text-decoration: none;
}

h2 {
  text-align: left;
}

.link_main__container {
    width: 750px;
    margin: 30px auto;
    background-color: rgba(#ffffff, .6);
    box-shadow: 0 0 2px #ccc,0 0 2px #ccc;
    padding: 50px;
    font-size: 1.5em;
    font-weight: 900;
    line-height: 1em;
    letter-spacing: .1em;
    vertical-align: middle;
    text-align: center;
}

.svg_img {
  position: absolute;
  top: 1025px;
  left: 2%;
}

.link_university {
    border-radius: 1em;
    float: left;

    h2 {
      width: 100%;
      margin-left: 0px;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 25px;
     text-align: center;
    }

    a:hover {
      text-decoration: none;
    }

    p.link_text {
      width: 400px;
      height: 30px;
      background-color: rgba(#1da96f,.5);
      border: 1px solid rgba(#1da96f,.5);
      border-radius: .1em;
      padding-top: 10px;
      color: #fff;
      text-decoration: none;
    }
    p:hover {
        text-decoration: none;
        color: #1da96f;
        background-color: rgba(#ffffff,.5);
        border: 1px solid rgba(#1da96f,.5);
        text-decoration: none;
    }
}

.link_society {
    float: right;
a:hover {
  text-decoration: none;
}
    h2 {
      width: 100%;
      margin-left: 0px;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 25px;
    text-align: center;
    }

p.link_text {
  width: 300px;
  height: 30px;
  background-color: rgba(#3aa0d4,.5);
  border: 1px solid rgba(#3aa0d4,.5);
  border-radius: .1em;
  padding-top: 10px;
  color: #fff;
  text-decoration: none;
}
    p:hover {
        text-decoration: none;
        color: #3aa0d4;
        background-color: rgba(#ffffff,.5);
        border: 1px solid #3aa0d4;
        text-decoration: none;
    }

}