
main .research_container {
    width: 100%;
    justify-content: center;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQoU2O8ffu2LwMRgBGkUFVVdTMhtaMK8YYQ0cEDAO63JulOwqN5AAAAAElFTkSuQmCC');
    margin: 0 auto;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0 40px 0;
    overflow: hidden;
    z-index: 50;
}
.main__contents {
    /* メインコンテンツの中身 */
    width: 920px;
    margin: 0px auto;
    text-align: left;
    overflow: hidden;
background-color: #fff;
}
h2 {
    color: #444;
    font-size: 2.5em;
    font-weight: 900;
    position: relative;
    padding: 0 0 5px 100px;
    border-bottom: 1px solid #d14;
    margin-top: 50px;
    &:before, &:after{
        content: "";
        position: absolute;
        bottom: 6px;
        width: 25px;
        height: 25px;
        border: 2px solid #d14;
        margin: auto;
    z-index: 0;
    }
    &:before{
        top:  0px;
        left: 55px;
        animation: spin 4s linear infinite;
    }
    &:after{
        top: 0px;
        left: 65px;
        animation: spin 4s linear infinite;
    }
span {
    font-size: .5em;
    font-weight: 400;
    color: #aaa;
    padding-left: 20px;
}
}


@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.main__contents__midasi {
    width: 100%;
    height: 40px;
    margin-top: 20px;
 }

h5 {
    font-weight: 900;
    position: relative;
    color: #fff;
    font-size: 1em;
    background: #d14;
    margin: 0 -24px;
    padding: 15px 24px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    letter-spacing: .1em;
    z-index: 50;
    &:before,&:after{
        position: absolute;
        top: 100%;
        content: "";
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-top: 5px solid #000;
        opacity: 0.5;
    }
    &:before{
        left: 0;
        border-right: 5px solid #000;
    }
    &:after{
        right: 0;
        border-left: 5px solid #000;
    }

}

.theme_content {
    margin: 30px 13px 10px 13px;
    text-align: center;
    box-shadow: 0 0 3px #ccc;
    padding: 20px 14px 0px 14px;
}

main img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    padding-top: 20px;
    /* この一行を追加するだけ！ */
}

.theme_content_img_text {
    display: flex;
overflow: auto;
}

.theme_content_img_text p {
    width: 180px;
    height: 250px;
    text-align: justify;
    font-size: .8em;
    padding: 20px 10px 0 10px;
    z-index: 50;
    line-height: 1.75em;
}

.theme_content:nth-of-type(odd) {
    float: right;
}
.theme_content:nth-of-type(even) {
    float: left;
}