@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato|Sawarabi+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "bootstrap";

// 全体
body {
    color: #111111;
    font-family: 'Noto Sans JP', sans-serif;
}


body,
#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section.container {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

ul {
    list-style: none;
}

// topに戻るボタン
.back-to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: #fff;
    width: 40px;
    height: 40px;
    z-index: 100;
    display: none;
}
.back-to-top:before {
    font-family: "FontAwesome";
    content: "\f062";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(0deg,#228e41 0%, #1da96f 100%);
    border: 1px solid #ffffff;
    padding: 7px 0 0 12px;
}
.back-to-top:after {
    content: "";
    display: block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    left: 0;
    top: 0;
}
.back-to-top:hover {
    color: #fcd821;
}

// 全体ここまで


/* 文字サイズの変更ボタン */

.fsz {
    margin: 3px 0px 0px 0;
}

span.fsz-font {
    font-size: 0.8em;
    padding-right: 3px;
    vertical-align: middle;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
    color: #666666;
}

.btn-s,
.btn-m,
.btn-l {
    font-size: 0.9em;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    background: #076eb2;
    /*背景色*/
    color: #ffffff;
    /*=背景色*/
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 0 #065e99;
    border-radius: 2px;
    font-weight: bold;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.589), 1px 1px rgba(0, 0, 0, 0.38);
    transition: .3s;
}

.btn-s:hover {
    background: #3aa0d4;
}

.btn-s:active {
    transform: translate(0, 2px);
    box-shadow: none;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-m:hover {
    background: #3aa0d4;
}

.btn-m:active {
    transform: translate(0, 2px);
    box-shadow: none;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-l:hover {
    background: #3aa0d4;
}

.btn-l:active {
    transform: translate(0, 2px);
    box-shadow: none;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
}

a.btn-s,
a.btn-m,
a.btn-l {
    text-decoration: none;
    transition: color .2s;
}

a.btn-s:hover,
a.btn-m:hover,
a.btn-l:hover {
    color: #ffffff;
}

//* 文字サイズ変更ボタンここまで */

/* Google翻訳ここから */
.google_translate {
    margin-top: 2px;
    z-index: 30;
}

/* google翻訳ここまで */


// navやtitleここから

// ハンバーガーメニューここから
/*ナビメニューのスタイルを指定*/
nav.NavMenu{
    position: fixed; /*表示位置を固定*/
    z-index: 160; /*重ね順を変更*/
    top: 5%; /*表示位置を指定*/
    left: 5%; /*表示位置を指定*/
    background: #ffffff;/*背景を白にする*/
    text-align: center; /*テキスト揃え*/
    padding-left: 0px;
    width: 180px; /*全幅表示*/
    transform: translateY(-200%); /*ナビを上に隠す*/
    transition: all 0.6s; /*アニメーションの時間を指定*/
    font-size: .8em;
}

nav.NavMenu ul{
    background: linear-gradient(-90deg, #3AA0D4 0%, #076EB2 100%,);
    background-color:rgba(255,255,255,0.8);
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

nav.NavMenu ul li{
    font-size: 1em;
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-bottom: .5px  solid rgba(255,255,255,0.4);
}
nav.NavMenu ul li:hover {
   background-color: rgba(255,255,255,0.3);
    -webkit-transition: .2s ease-in-out;   /*変化の速度を指定*/
    -moz-transition: .2s ease-in-out;      /*変化の速度を指定*/
    transition: .2s ease-in-out;           /*変化の速度を指定*/
}

nav.NavMenu ul li:last-child{
    padding-bottom: 0;
    border-bottom: none; /*最後のメニュー項目のみ下線を消す*/
}

nav.NavMenu ul li a{
    display: block; /*クリックできる領域を広げる*/
    color: #ffffff;
    padding: 1em 0;
    list-style: none;
    letter-spacing: .2em;
}

/*トグルボタンが押されたときに付与するクラス*/
nav.NavMenu.active{
    transform: translateY(0%);
}

/*トグルボタンのスタイルを指定*/
.Toggle {
    display: block;
    position: fixed;    /* bodyに対しての絶対位置指定 */
    left: 1%;
    top: 7%;
    width: 42px;
    height: 55px;
    cursor: pointer;
    z-index: 165;
    background-color: #ffffff;
    border-radius: .2em;
    -webkit-transition: .35s ease-in-out;   /*変化の速度を指定*/
    -moz-transition: .35s ease-in-out;      /*変化の速度を指定*/
    transition: .35s ease-in-out;           /*変化の速度を指定*/
}
.Toggle_menu {
    margin: 4px 0 0 3px;
    font-size: .8em;
    -webkit-transition: .35s ease-in-out;   /*変化の速度を指定*/
    -moz-transition: .35s ease-in-out;      /*変化の速度を指定*/
    transition: .35s ease-in-out;           /*変化の速度を指定*/
}

.Toggle span {
    display: block;
    position: absolute;
    width: 30px;
    border-bottom: solid 4px #076eb2;
    border-radius: 30px;
    -webkit-transition: .35s ease-in-out;   /*変化の速度を指定*/
    -moz-transition: .35s ease-in-out;      /*変化の速度を指定*/
    transition: .35s ease-in-out;           /*変化の速度を指定*/
    left: 6px;
}

.Toggle span:nth-child(2) {
    top: 20px;
}

.Toggle span:nth-child(3) {
    top: 28px;
}

.Toggle span:nth-child(4) {
    top: 36px;
}

.Toggle.active {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);

}
.Toggle.active :nth-child(1) {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-5px);
}
/* 最初のspanをマイナス45度に */
.Toggle.active span:nth-child(2) {
    top: 30px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* 2番目と3番目のspanを45度に */
.Toggle.active span:nth-child(3),
.Toggle.active span:nth-child(4) {
    top: 30px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
// ハンバーガーメニューここまで


div.logo-img {
    margin: auto;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 470px;
    height: 200px;
    z-index: 150;
}

.title-text {
    margin: 22px 0 0 13px;
    position: absolute;
    left: 32%;
    color: #ffffff;
    font-size: 0.9em;
    letter-spacing: 0.2em;
}

.nav-right {
    /* ナビゲーションバー */
    display: inline-block;
    position: absolute;
    top: 45px;
    right: 0;
    width: 100%;
    height: 55px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, .8);
    z-index: 40;
    text-align: right;
    box-shadow: 0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 1px #ffffff;
        // 0 20px 30px #ffffff, 0 20px 30px #ffffff;
}

section.header__video {
/*     背景動画のグラデーション
min-width: 100%;
height: 700px;
background: linear-gradient(to top, #1da96f 0%, #3aa0d4 100%);
background: linear-gradient(to bottom, #1e2120 0%, #000000 30%, #293db6 60%, #2db0ce 100%);
opacity: 0.4;
animation: huerotator 4s infinite alternate;
animation: huerotator 6s infinite alternate; */
background-color: #000000;
}

.video {
    min-width: 100%;
    height: 700px;
}

@keyframes huerotator {
    0% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }

    100% {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

img.title__logo {
    width: 100%;
    height: 500px;
}

img.gl-header__menu {
    width: 100px;
}

.btn-gradient-radius {
    font-size: 0.8em;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
}

.btn-gradient-radius:hover {
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

// navやtitleここまで
// mainコンテンツここから
main {
    width: 100%;
   background: url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAG0lEQVQoU2N8//59AwMBwAhSJCgoiFfhqCIGALZlI1fEYv1lAAAAAElFTkSuQmCC
    ) repeat;
}

.research_theme {
    /* 研究テーマ */
    display: inline-block;
    position: absolute;
    top: 170px;
    left: 10%;
    width: 80%;
    margin: 0 auto;
    height: 430px;
    background-color: rgba(255, 255, 255, .5);
    z-index: 40;
    text-align: center;
    box-shadow: 0 0 5px #ffffff, 0 0 2px #ffffff, 0 0 1px #ffffff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.row img {
    height: 180px;
}

section.container__main {
    width: 1000px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    display: flex;
}

div.main_l {
    width: 55%;
    margin: 5px;
    background: #ffffff;
    box-shadow: 0 0 5px #eee, 0 0 3px #eee, 0 0 5px #eee;
}

div.main_r {
    width: 45%;
    margin: 5px;
    background: #ffffff;
    box-shadow: 0 0 5px #eee, 0 0 3px #eee, 0 0 5px #eee;
}


// mainコンテンツここまで
// footerここから
footer {
    width: 100%;
    background:
    url(../images/footer_bg_rogo.png) right bottom no-repeat,
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAL0lEQVQoU2P8//+/FAMRgBGkkJGR8RkhtaQpBJlGyFRGkCJirCdeITGmgZ02cAoBLmQnIlMIzrkAAAAASUVORK5CYII=) repeat,
    linear-gradient(90deg, #3AA0D4 0%, #076EB2 100%,);
    background-color:rgba(255,255,255,0.8);
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    position: relative;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: none;
}

.footer__container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 60px;
}

.footer__midasi {
    border: 0;/*線色*/
    text-align: center;
    font-size: 1em;
}

.footer__midasi__text {
    color: #ffffff;/*文字色*/
    border-radius: 2em;/*角丸*/
    background-color: #73bfe1;
    padding: 0.3em 1em;/*文字周りの余白*/
    width: 100%;
    letter-spacing: 0.1em;
}

.footer__menu1 {
    width: 200px;
    height: 200px;
    border-right: 1px solid #a1cae6;
    box-shadow: 1px 0px 0px 0px #087ecc;
    padding: 15px 0 0 0;
    margin-right: 20px;
    font-size: 0.9em;
    background-color: rgba(255,255,255,0.1);
    border-radius: .2em;
}

.footer__menu2 {
    width: 200px;
    height: 200px;
    border-right: 1px solid #a1cae6;
    box-shadow: 1px 0px 0px 0px #087ecc;
    padding: 15px 0 0 0;
    margin-right: 20px;
    font-size: 0.9em;
    background-color: rgba(255,255,255,0.1);
    border-radius: .2em;
}

.footer__menu3 {
    width: 430px;
    height: 200px;
    border-right: 1px solid #a1cae6;
    padding: 15px 5px 0 0;
    background-color: rgba(255,255,255,0.1);
    border-radius: .2em;
}

span.tel_text {
    font-size: 2em;
    vertical-align: sub;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.footer__contact {
    width: 350px;
    height: 70px;
    border: 0px;
    border-radius: .3em;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQYV2NkQAP/gYARWQwsAAIwQZgAiA8WRBYAC6ILgAQBGkYUAnD09D0AAAAASUVORK5CYII=
) repeat,
        #fcee21;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #076EB2;
    font-weight: bold;
    font-size: 1em;
    -webkit-transition: .2s ease-in-out;   /*変化の速度を指定*/
    -moz-transition: .2s ease-in-out;      /*変化の速度を指定*/
    transition: .2s ease-in-out;           /*変化の速度を指定*/
}
.footer__contact:hover {
background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQYV2NkQAP/gYARWQwsAAIwQZgAiA8WRBYAC6ILgAQBGkYUAnD09D0AAAAASUVORK5CYII=
) repeat,
        #fcd821;
    -webkit-transition: .35s ease-in-out;   /*変化の速度を指定*/
    -moz-transition: .35s ease-in-out;      /*変化の速度を指定*/
    transition: .35s ease-in-out;           /*変化の速度を指定*/
}

.footer__copyright {
    width: 100%;
    height: 60px;
    background-color: #fff;
    text-align: center;
    font-size: 0.7em;
    color: #333333;
    position: absolute;
    bottom: 0;
    line-height: 5.5em;
}

.footer__text {
    text-align: left;
    color: #ffffff;
}

a.footer__text {
    text-decoration: none;
    transition: color .2s;
    color: #ffffff;
}

a.footer__text:hover {
    color: #cccccc;
}

.google-maps {
    width: 100%;
}

// footerここまで
