@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
@import "bootstrap";

body {
    color: #111111;
}
body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section .container {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.title {
    text-align: center;
}

img.title__logo {
    width: 100%;
    height: 450px;
}

img.gl-header__menu {
    width: 100px;
}

footer {
    width: 100%;
    height: 450px;
    background: linear-gradient(90deg, #3AA0D4 0%, #076EB2 100%, );
    margin-top: auto;
}
.footer__copyright {
    width: 100%;
    height: 60px;
    background-color: #fff;
    text-align: center;
    font-size: 0.7em;
    color: #333333;
}
