@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato|Sawarabi+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
@import "bootstrap";

// 全体
body {
    color: #111111;
    font-family: 'Roboto', sans-serif;
    min-width: 1200px;
    margin: 0;
    padding: 0;
    display: block;
}

body,
#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: auto;
}

ul {
    list-style: none;
}

// topに戻るボタン
.back-to-top {
    position: fixed;
    right: 1%;
    bottom: 1.5%;
    color: #fff;
    width: 35px;
    height: 35px;
    z-index: 200;
    display: none;
}

.back-to-top:before {
    font-family: "FontAwesome";
    content: "\f077";
    display: block;
    width: 35px;
    height: 35px;
    padding-top: 4px;
    border-radius: 2em;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(0deg, #990000 0%, #ff0000 100%);
    vertical-align: middle;
    text-align: center;
    z-index: 200;
}

.back-to-top:after {
    font-family: "FontAwesome";
    content: "\f077";
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 2em;
    left: 0;
    top: 0;
}

.back-to-top:hover {
    background: linear-gradient(0deg, #330000 0%, #800000 100%);
    border-radius: 2em;
    color: #cccccc;
}


video {
    position: fixed;
    min-width: 100%;
    min-height: 100vh;
    left: 0;
    top: 0px;
    z-index: 0;
}

.headerRight video {
    min-width: 100%;
    filter: grayscale(2%);
    z-index: 0;
}



// 全体ここまで

// navやtitleここから

// パンくずリストここから
.nav_pankuzu {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0px;
    right: 0px;
    z-index: 50;
    text-align: center;
}

/* Google翻訳ここから */
.google_translate {
    width: 150px;
    height: 40px;
    padding: 7px 0;
    margin-right: 2%;
    float: right;
        background: rgba(#fff, 0.5);
    border-bottom-left-radius: .2em;
    border-bottom-right-radius: .2em;

}
/* google翻訳ここまで */

/* 文字サイズの変更ボタン */
.font-size-btn {
    display: inline-block;
    width: 150px;
    height: 40px;
    padding: 0 0 15px 0;
    background-color: rgba(#fff, 0.5);
    border-bottom-left-radius: .2em;
    border-bottom-right-radius: .2em;
    float: right;
    margin-right: 5px;
}

.fsz {
    margin: 0;
}

h6.fsz-font {
    font-size: 0.8em;
    padding: 0;
    margin-top: 14px;
    margin-left: 5px;
    vertical-align: middle;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
    color: #111111;
    float: left;
}

.btn-s,
.btn-m,
.btn-l {
    font-size: 0.8em;
    position: relative;
    padding: 0 3px;
    top: 10px;
    text-decoration: none;
    background: #ffffff;
    color: #111111;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    border: 1px solid #3aa0d4;
}

.btn-s:hover {
    background: #3aa0d4;
}

.btn-s:active {
    background: #3aa0d4;
}

.btn-m:hover {
    background: #3aa0d4;
}

.btn-m:active {
    background: #3aa0d4;
}

.btn-l:hover {
    background: #3aa0d4;
}

.btn-l:active {
    background: #3aa0d4;
}

a.btn-s,
a.btn-m,
a.btn-l {
    text-decoration: none;
    -webkit-transition: .1s ease-in-out;
    /*変化の速度を指定*/
    -moz-transition: .1s ease-in-out;
    /*変化の速度を指定*/
    transition: .1s ease-in-out;
    /*変化の速度を指定*/
}

a.btn-s:hover,
a.btn-m:hover,
a.btn-l:hover {
    color: #ffffff;
}

//* 文字サイズ変更ボタンここまで */


//メニューボタンここから


//colors
$red: #E1332D;
$white: #fff;

//base styles

* {
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
}

// Main wrap
.buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin-top: 10px;
    margin: 0 auto ;
}

//button styles
//default button
.btn {
    color: #fff;
    cursor: pointer;
    // display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    @media(min-width: 600px) {
        margin: 0 1em 2em;
    }

    &:hover {
        color: #fff;
        text-decoration: none;
        transition: all 280ms ease-in-out;
    }

}
.btn-2 {
    letter-spacing: 2px;
    margin: 0;
}

.btn-2:hover,
.btn-2:active {
    letter-spacing: 2px;
        text-shadow: 0 0 5px rgba(10, 175, 230, 1), 0 0 5px rgba(10, 175, 230, 0);
    }

.btn-2:after,
.btn-2:before {
    backface-visibility: hidden;
    border: 1px solid rgba(#fff, 0);
    bottom: 0px;
    content: "";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 350ms ease-in-out;
    width: 90%;
}

.btn-2:hover:before {
    bottom: auto;
    top: 0;
    width: 90%;

}

//メニューボタンここまで

header {
    /* ナビゲーションバー */
    display: fixed;
    position: absolute;
    width: 100%;
    right: 0px;
    padding-top: 45px;
    height: 600px;
    z-index: 0;
    overflow: hidden;
}

.header__title {
    width: 500px;
    height: 600px;
    background: url("../images/title_logo1.png") 100px 170px no-repeat;
    opacity: .3;
    display: block;
font-family: 'Squada One', cursive;
line-height: 1.1em;
/*     text-indent: -9999px; */
}

.header__title:hover {
    background: url("../images/title_logo2.png") no-repeat;
    background-position: 100px 210px;
    opacity: 1;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

// マウスホバーで光るanimationボタン
.bluelight {
    display: table;
    width: 500px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);

    a {
        display: table-cell;
        font-size: 3em;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        transition: background 1s, border-width 0.5s cubic-bezier(0.075, 0.820, 0.165, 1.000), text-shadow 0.5s;
        color: #daf6ff;
        text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
        box-shadow: 0 0 0 rgba(10, 175, 230, 0), inset 0 0 0 rgba(10, 175, 230, 0);
        background-image: radial-gradient(center, ellipse cover, rgba(10, 175, 230, 0) 0%, rgba(10, 175, 230, 0) 90%);
        border: 0 dotted rgba(10, 175, 230, 0.0);

        &:hover {
            color: #fff;
            text-shadow: 0 0 50px rgba(10, 175, 230, 1), 0 0 50px rgba(10, 175, 230, 1);
            background-image: radial-gradient(center, ellipse cover, rgba(10, 175, 230, 0.3) 0%, rgba(10, 175, 230, 0) 60%);
        }
    }

    &:before,
    &:after,
    a:before,
    a:after {
        transition: 0.2s ease-in-out;
        content: "";
        display: block;
        position: absolute;
        border-radius: 50%;
        border: 60px dashed transparent;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &:before {
        animation: rotate 20s linear 0s infinite;
        width: 180%;
        height: 180%;
        border: 3px dotted rgba(10, 175, 230, 0);
        z-index: -1;
    }

    &:after {
        animation: rotate 10s linear 0s infinite reverse;
        border: 80px dashed rgba(10, 175, 230, 0);
        width: 160%;
        height: 160%;
        z-index: -2;
    }

    a {
        &:before {
            animation: rotate 5s ease-in-out 0s infinite alternate;
            width: 120%;
            height: 120%;
            border: 50px dashed rgba(10, 175, 230, 0);
        }

        &:after {
            animation: rotate 5s linear 0s infinite;
            border: 18px dashed rgba(10, 175, 230, 0);
            width: 120%;
            height: 120%;
        }
    }

    &:hover {
        &:before {
            border-color: rgba(10, 175, 230, 0.3);
        }

        &:after {
            border-color: rgba(10, 175, 230, 0.1);
        }

        a {
            &:before {
                border-color: rgba(10, 175, 230, 0.3);
            }

            &:after {
                border-color: rgba(10, 175, 230, 0.3);
            }
        }
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

// マウスホバーで光るanimationボタン

//新着情報ここから
section.container__new {
    position: relative;
    top: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    display: flex;
    z-index: 100;
    background-color: #000000;
}

div.main_new {
    width: 65%;
    height: 200px;
    margin-right: 15px;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
}

//新着情報ここまで

// navやtitleここまで

// mainコンテンツここから
main {
    width: 100%;
    margin-top: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0 0px 0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAG0lEQVQoU2N8//59AwMBwAhSJCgoiFfhqCIGALZlI1fEYv1lAAAAAElFTkSuQmCC
) repeat,
        rgba(255, 255, 255, 0.7);
    z-index: 50;
}

section.container {
    min-width: 1100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

div.main_reseach {
    /* 研究テーマ */
    width: 750px;
    height: 800px;
    margin: 0;
    padding: 20px;
    background: #ffffff;
    // box-shadow: 0 0 5px #eee, 0 0 3px #eee, 0 0 5px #eee;
}

div.main_twitter {
    /* twitter */
    width: 320px;
    margin: 0;
    background: #ffffff;
    // box-shadow: 0 0 5px #eee, 0 0 3px #eee, 0 0 5px #eee;
}



//Cardここから

// Color Variables
$indigo: #5C6BC0;
$blue: #29B6F6;
$black: #717171;

$body-font-family: "Lato";
$header-font-family: "Montserrat";

// Basic Styles for Demo
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Basics demo styles
.site__wrapper {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

// Basic Grid for Demo;
.grid {
    float: none;
    width: 100%;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0.4em;

    @media screen and (min-width: 40.063em) {
        float: left;
        width: 33.333%;
    }
}

// Card Article
.card {}

.card__image {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;
    min-height: 240px;
    overflow: hidden;
    position: relative;

    >img {
        display: block;
        margin-bottom: 0;

        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }

    &:hover>img {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.card__title {
    color: white;
    display: inline-block;
    font-family: $header-font-family;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.75em;
    text-decoration: none;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    &:hover {
        color: rgba(white, 0.7);
        text-decoration: none;
    }
}

.card__overlay {
    content: "";
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.card__overlay--indigo {
    background-image: linear-gradient(to bottom, rgba($indigo, 0.1), rgba($indigo, 0.8));
    z-index: 2;
}

.card__overlay--blue {
    background-image: linear-gradient(to bottom, rgba($blue, 0.1), rgba($blue, 0.8));
    z-index: 2;
}

.card__overlay-content {
    position: absolute;
    bottom: 0;
    padding: 1.5em;
    z-index: 3;
}

.card__meta {
    margin: 0;
    margin-right: -1em;
    margin-bottom: 0.75em;

    &.card__meta--last {
        margin-bottom: 0;
    }

    li {
        color: #f8f8f8;
        display: inline;
        list-style-type: none;
        margin-bottom: 0;
        padding-right: 1em;

        font-size: 0.85em;
        font-variant: small-caps;
        letter-spacing: 1px;

        &:not(:last-child):after {
            content: "\25cf";
            font-style: normal;
            position: relative;
            color: rgba(white, 0.25);
            right: -0.6em;
        }

        >a {
            color: #f8f8f8;
        }
    }
}

//Cardここまで

// mainコンテンツここまで

// footerここから
footer {
    width: 100%;
    justify-content: center;
    background:
        url(../images/footer_bg_rogo.png) right bottom no-repeat,
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJElEQVQoU2P8//+/FAMRgBGkkJGR8RkhtaMK8YYQI6Hwg8kDALudIyIGr+YqAAAAAElFTkSuQmCC) repeat,
        linear-gradient(135deg, #3AA0D4 0%, #076EB2 40%, #222222 100%);
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 50px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: none;
    letter-spacing: 0.05em;
    z-index: 50;
}

.footer__container {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 0%;
    min-width: 1100px;
}

.footer__container2 {
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 5%;
    min-width: 1100px;
}

.footer__midasi {
    border: 0;
    padding: 2px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.2);
}

.footer__midasi__text {
    color: #ffffff;
    /*文字色*/
    width: 100%;
    letter-spacing: 0.1em;
    // border-radius: 2em;/*角丸*/
    // background-color: #73bfe1;
    // padding: 0.3em 1em;/*文字周りの余白*/
}

.footer__midasi__ul {
    padding-left: 0;
    text-indent: 0.4em;
}

.footer__menu1 {
    /* 研究メンバー用、研究テーマ、研究メンバー用 */
    min-width: 180px;
    padding: 15px 0 0 0;
    margin-right: 20px;
    font-size: 0.8em;
    /*     overflow: hidden; */
}

.footer__menu4 {
    /* セミナー情報、SNS、リンク */
    min-width: 180px;
    padding: 0;
    margin-right: 20px;
    font-size: 0.8em;
    /*     overflow: hidden; */
}

.footer__menu2 {
    /* アクセス */
    min-width: 200px;
    padding: 15px 0 0 0;
    margin-right: 20px;
    font-size: 0.8em;
    /*     overflow: hidden; */
}

.access__text {
    font-size: 0.9em;
    letter-spacing: 0.05em;
    padding-left: 2em;
    text-indent: -1em;
    margin: 0;
}

.footer__menu3 {
    /* お問い合わせ */
    min-width: 200px;
    padding: 15px 0 0 0;
    font-size: 0.8em;
    /*     overflow: hidden; */
    text-align: left;
}

.google-maps {
    /* Google map */
    width: 423px;
}

.footer__contact__tel {
    margin: 0 0 3px 0;
}

span.tel_text {
    font-size: 2em;
    vertical-align: sub;
    padding: 0px 0 0 4px;
    font-family: 'Loto', sans-serif;
}


.footer__contact {
    width: 200px;
    height: 45px;
    border: 0px;
    border-radius: .1em;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJ0lEQVQYV2NkQAP////3ZUQWAwswMm6GC8IEQIrAgsgCYEF0AZAgANP9E1CXVxkjAAAAAElFTkSuQmCC
) repeat,
        #ff0000;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    -webkit-transition: .1s ease-in-out;
    /*変化の速度を指定*/
    -moz-transition: .1s ease-in-out;
    /*変化の速度を指定*/
    transition: .1s ease-in-out;
    /*変化の速度を指定*/
    font-family: 'Roboto', sans-serif;
}

.footer__contact:hover {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJ0lEQVQYV2NkQAP///83ZkQWAwswMp6FC8IEQIrAgsgCYEF0AZAgAMm7EzYrqtIZAAAAAElFTkSuQmCC
) repeat,
        #cc0000;
    color: #eeeeee;
    -webkit-transition: .1s ease-in-out;
    /*変化の速度を指定*/
    -moz-transition: .1s ease-in-out;
    /*変化の速度を指定*/
    transition: .1s ease-in-out;
    /*変化の速度を指定*/
}

.footer__contact__text {
    margin-top: 10px;
    margin-bottom: 0px
}

.footer__copyright {
    position: absolute;
    display: fixed;
    width: 100%;
    height: 60px;
    background-color: #000000;
    font-size: 0.9em;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    line-height: 5em;
    letter-spacing: .1em;
    text-align: center;
}

.footer__text {
    text-align: left;
    color: #ffffff;
}

a.footer__text {
    text-decoration: none;
    transition: color .2s;
    color: #ffffff;
}

a.footer__text:hover {
    color: #cccccc;
}

// footerここまで